#contenedor-chat{
    background-color: #ebebeb;
    width: 100%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 12px;
}
#caja-chat{
    width: 95%;
    height: 400px;
    margin: 0 2.5%;
}
#datos-chat{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid silver;
    font-weight: bold;
}
textarea{
    width: 95%;
    margin: 0 2.5%;
    height: 60px;
    border-radius: 5px;
    border:1px solid gray;
}
.btn_msg{
    width: 80%;
    margin: 0.5% 10%;
    height: 35px;
}

/*datos*/
.horChat{
    font-size: 50%;
    color: gray;
}
.namChat{
    color: darkorchid;
}
.textChat{
    color: black;
}
/*derecha - izquierda*/
.left{
    text-align: left;
}
.right{
    text-align: right;
}